.bounceInRight {
	-webkit-animation: bounceInRight 1s ease alternate;
	-moz-animation: bounceInRight 1s ease alternate;
	-o-animation: bounceInRight 1s ease alternate;
	animation: bounceInRight 1s ease alternate;
}
.fadeIn {
	-webkit-animation: fadeIn 1s ease alternate;
	-moz-animation: fadeIn 1s ease alternate;
	-o-animation: fadeIn 1s ease alternate;
	animation: fadeIn 1s ease alternate;
}
.fadeInRight {
	-webkit-animation: fadeInRight 1s ease alternate;
	-moz-animation: fadeInRight 1s ease alternate;
	-o-animation: fadeInRight 1s ease alternate;
	animation: fadeInRight 1s ease alternate;
}
.fadeInLeft {
	-webkit-animation: fadeInLeft 1s ease alternate;
	-moz-animation: fadeInLeft 1s ease alternate;
	-o-animation: fadeInLeft 1s ease alternate;
	animation: fadeInLeft 1s ease alternate;
}
.fadeInUp {
	-webkit-animation: fadeInUp 1s ease alternate;
	-moz-animation: fadeInUp 1s ease alternate;
	-o-animation: fadeInUp 1s ease alternate;
	animation: fadeInUp 1s ease alternate;
}
.fadeInDown {
	-webkit-animation: fadeInDown 1s ease alternate;
	-moz-animation: fadeInDown 1s ease alternate;
	-o-animation: fadeInDown 1s ease alternate;
	animation: fadeInDown 1s ease alternate;
}
.flip {
	-webkit-animation: flip 1s ease alternate;
	-moz-animation: flip 1s ease alternate;
	-o-animation: flip 1s ease alternate;
	animation: flip 1s ease alternate;
}